#one{
	width: 700px;
	height: 90px;
	background-color: #00B0AD;
	margin:auto;
}
#four{
	width: 200px;
	height: 600px;
	background-color: #1C697E;
	float: left;
}
#two{
    width:700px;
	height: 600px;
	background-color: #4DF6A7;
	margin:auto;
    }
#three{
    width: 700px;
	height: 50px;
	background-color: #00B0AD;
	margin:auto;	
}